/* General Styles */
:root {
    --accent-dark: #018786;
    --accent-light: #14a1a1;
    --accent-lighter: #C6C1BC;
    --light: white;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--accent-light);
}
body,
html {
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
ul li a {
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
    -ms-transition: .1s;
    -o-transition: .1s;
    font-weight: bold;
}
ul li:hover a {
    color: var(--accent-dark);
}
button {
    background-color: var(--accent-dark);
    color: var(--light);
    cursor: pointer;
    font-weight: bold;
    font-size: 1.01rem;
    padding: .9rem 2rem;
    border: 0;
    transition: background .1s;
    -webkit-transition: background .1s;
    -moz-transition: background .1s;
    -ms-transition: background .1s;
    -o-transition: background .1s;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
button:is(:hover, :focus) {
    background-color: var(--accent-dark);
}
button[data-type='invert'] {
    background-color: white;
    border: 3px solid white;
    color: #000;
    display: flex;
    align-items: center;
    gap: .3rem
}
button[data-type='invert']:hover {
    background-color: var(--accent-dark);
    color: #fff;
    fill: white;
}
button svg {
    width: 20px;
    height: 20px;
}
figure {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Utility Classes */
.num {
    font-size: 5rem;
    font-weight: bold;
    color: var(--accent-dark);
}
body > section {
    padding-block: 4rem;
    padding-inline: clamp(2rem, 4.5vw, 5rem);
}
section .heading {
    margin-bottom: 4rem;
}
section .heading h1 {
    color: var(--accent-dark);
    font-size: 1rem;
}
section .heading h2 {
    font-weight: normal;
    font-size: 2rem;
}
/* Start Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    padding-block: 0;
    padding-inline: clamp(2rem, 4.5vw, 5rem);
    position: fixed;
    width: 100vw;
    background-color: white;
    z-index: 999;
}
header .logo img {
    width: 130px;
    height: 100%;
}
header nav {
    display: flex;
    gap: 2rem;
}
header ul {
    gap: 2rem;
    display: flex;
    align-items: center;
}
header .wrapper {
    border: 0;
    background: none;
    cursor: pointer;
    display: none;
    padding: 0;
}
header .wrapper > * {
    width: 40px;
    height: 40px;
}
header .wrapper .close-menu {
    display: none;
}
@media (max-width: 60em) {
    header nav {
        height: 100vh;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.97);
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        opacity: 1;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transition:  transform .2s, opacity .1s;
        -webkit-transition:  transform .2s, opacity .1s;
        -moz-transition:  transform .2s, opacity .1s;
        -ms-transition:  transform .2s, opacity .1s;
        -o-transition:  transform .2s, opacity .1s;
}
    header.open nav {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    header nav button {
        width: fit-content;
    }
    header nav ul {
        flex-direction: column;
        gap: 2rem
    }
    header .wrapper {
        display: block;
        z-index: 9999;
    }
    header.open .wrapper .open-menu {
        display: none;
    }
    header.open .wrapper .close-menu {
        display: block;
    }
}
/* Start Main Section */
main {
    background-color: var(--accent-lighter);
    padding: 7rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
main .main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
main .main-content h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}
main .main-content p {
    font-size: 1.2rem;
}
main .main-content .btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
main .main-content .customers {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
main .main-content .customer-imgs {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
}
main .main-content .customer-imgs img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid white;
}
main .main-content .customer-imgs .img:not(:first-child) {
    transform: translateX(var(--space));
    -webkit-transform: translateX(var(--space));
    -moz-transform: translateX(var(--space));
    -ms-transform: translateX(var(--space));
    -o-transform: translateX(var(--space));
}
main .main-content .customer-imgs .img:nth-child(2) {
    --space: -10px;
}
main .main-content .customer-imgs .img:nth-child(3) {
    --space: -20px;
}
main .main-content .customer-imgs .img:nth-child(4) {
    --space: -30px;
}
main .main-content .customer-imgs .img:nth-child(5) {
    --space: -40px;
}
main .main-content .customer-imgs .img:last-child {
    --space: -50px;
}
main .main-content .content-content {
    margin-left: -45px;
    font-weight: bold;
}
main .main-content .content-content span {
    color: var(--accent-dark);
}
main .main-photo {
    width: 100%;
}
main .main-photo .img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
main .main-photo img {
    width: 100%;
    height: auto;
}
@media (max-width: 60em) {
    main {
        flex-direction: column-reverse;
    }
}
/* Featured Companies */
section.fetured-companies {
    text-align: center;
}
section.fetured-companies h2 {
    color: #000;
    margin-bottom: 2rem;
}
section.fetured-companies .even-column .imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;
}
section.fetured-companies .even-column img {
    width: 100%;
    filter: brightness(0);
    -webkit-filter: brightness(0);
    opacity: .6;
}
/* How */
#how {
    display: flex;
    flex-direction: column;
    gap: 3rem
}
.how-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem
}
.how-box .box-content {
    width: 100%;
}
.how-box .box-content h3 {
    margin-block: 1rem 3rem;
    font-size: 2rem;
}
.how-box .box-content p {
    font-size: 1.2rem;
    line-height: 2rem;
    /* max-width: 80%; */
}
.how-box .box-photo {
    text-align: center;
}
.how-box .box-photo .img {
    position: relative;
    max-width: 50%;
    margin: auto;
}
.how-box .box-photo .img::before {
    content: '';
    width: 170px;
    height: 170px;
    background-color: var(--accent-dark);
    opacity: .5;
    box-shadow: 0 0 0px 40px var(--accent-light);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: -1;
}
.how-box  .box-photo img {
    width: 100%;
    height: auto;
}
@media (max-width: 60em) {
    .how-box {
        flex-direction: column-reverse;
    }
    .how-box[data-type='invert'] {
        flex-direction: column;
    }
    .box-photo {
        margin-block: 5rem
    }
}
/* Start Meal Section */
#meal .meal-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.meal-container .plan {
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    box-shadow: 0 0 5px 1px #a2a2a2;
    transition: transform .2s;
    -webkit-transition: transform .2s;
    -moz-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    cursor: pointer;
}
.meal-container .plan:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}
.meal-container .plan figure {
    width: 100%;
    overflow: hidden;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
}
.meal-container .plan figure img {
    width: 100%;
}
.meal-container .meal-content {
    padding: 2rem;
}
.meal-container .plan .meal-type {
    display: flex;
    gap: 4px
}
.meal-container .plan .meal-type p:first-child {
    background-color: #94D82D;
}
.meal-container .plan .meal-type p:last-child {
    background-color: #ffd43b;
}
.meal-container .plan p {
    background-color: #51CF66;
    width: fit-content;
    padding: .4rem .6rem;
    font-size: .7rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
    margin-top: 1rem;
}
.meal-container .plan h3 {
    margin-block: 1rem;
}
.meal-container ul li {
    color: rgba(0, 0, 0, 0.842);
    display: flex;
    align-items: center;
    gap: .4rem;
    margin-top: 1rem;
}
.meal-container .plan ul li svg {
    width: 20px;
    fill: var(--accent-dark);
}
.meal-container .plan ul li span {
    font-size: 1.1rem;
    font-weight: bold;
}
.meal-container .meal-feature ul li {
    margin-top: .4rem;
}
.meal-container .meal-feature ul li .check {
    fill: var(--accent-dark);
}
#meal .meal-more {
    background-color: transparent;
    color: var(--accent-dark);
    display: flex;
    align-items: center;
    gap: .2rem;
    fill: var(--accent-dark);
    text-decoration: underline solid var(--accent-dark);
    margin: 20px auto 0;
}
#meal .meal-more:hover {
    text-decoration: none;
}
/* Start Testimonails Section */
#testimonial {
    padding-inline: 4rem;
    background-color: var(--accent-lighter);
    display: flex;
    align-items: center;
    gap: 2rem
}
#testimonial > * {
    flex: 1;
}
#testimonial .tes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}
.tes-container .card figure {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
.tes-container .card figure img {
    width: 100%;
    height: auto;
}
.tes-container .card .tes-des {
    margin-block: 1rem;
    line-height: 2rem;
    max-width: 190px;
    font-weight: 600;
}
.tes-container .card .tes-name {
    color: var(--accent-dark);
    font-weight: bold;
}
#testimonial .right .gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .6rem;
}
#testimonial .right .gallery figure {
    max-width: 200px;
    border: 5px solid white;
    overflow: hidden;
}
#testimonial .right .gallery figure img {
    width: 100%;
    height: 100%;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}
#testimonial .right .gallery figure:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
@media(max-width: 60em) {
    #testimonial {
        flex-direction: column;
    }
    .tes-container {
        width: 100%;
    }
    .tes-container .tes-des {
        max-width: 100% !important;
    }
}
@media(max-width: 40em) {
    #testimonial .gallery {
        grid-template-columns: repeat(2, auto)!important;
    }
}
/* Start Prcing Section */
#price .price-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem
}
#price .box {
    margin-bottom: 2rem;
    text-align: center;
    padding: 4rem;
    box-shadow: 0 0 1px 3px var(--accent-lighter);
    border-radius: .6rem;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}
/* #price .box:last-child {
    background-color: var(--accent-lighter);
} */
#price .box > * {
    margin-block: 1rem;
}
#price .box h3 {
    color: var(--accent-dark);
    font-weight: bold;
    font-size: 2rem;
}
#price .box p:first-of-type {
    font-size: 3rem;
    font-weight: bold;
}
#price .box p sub {
    font-size: 1.2rem;
}
#price .box h5 {
    color: rgba(0 0 0 / .8);
}
#price .box ul li {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-block: 1rem;
}
#price .box ul li svg{
    width: 20px;
    height: 20px;
    fill: var(--accent-dark);
}
#price p {
    text-align: center;
}
#price .box-two {
    position: relative;
    overflow: hidden;
}
#price .rotate-plan {
    background-color: #FFD43B;
    font-size: .8rem !important;
    position: absolute;
    padding: .2rem 3.5rem;
    top: 30px;
    right: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
@media(max-width: 60em) {
    #price .price-container {
        flex-direction: column;
    }
}
.plan-features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}
.plan-features .plan-feature {
    padding: 1.5rem 3rem;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    -ms-border-radius: .4rem;
    -o-border-radius: .4rem;
    box-shadow: 0 0 10px 1px var(--accent-lighter);
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -ms-transition: background .3s;
    -o-transition: background .3s;
    cursor: pointer;
}
.plan-features .plan-feature:hover {
    background-color: var(--accent-lighter);
}
.plan-features svg {
    width: 35px;
    aspect-ratio: 1;
    fill: var(--accent-dark);
}
.plan-features > * > * {
    margin-top: 2rem;
}
.plan-feature p {
    max-width: 200px;
}
/* Start Try for Free Section */
.contact {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
    background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
    margin: auto;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    overflow: hidden;
}
#try .contact .right {
    padding: 2rem;
}
#try .contact .right > * {
    margin-block: 2rem;
}
#try .contact .right p {
    max-width: 495px;
}
#try .contact .right .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 3rem;
}
#try .contact .right .form label {
    display: block;
    margin-bottom: 1rem;
}
#try .contact .right :where(.form) input, select {
    padding: .5rem;
    border: 0;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    width: 100%;
}
#try .contact .right .form button {
    height: 50px;
    align-self: flex-end;
    width: fit-content;
}
#try .contact .left {
    background: linear-gradient(to right bottom, rgba(235, 151, 78, .35), rgba(230, 125, 34, .35)),url(./images/eating.jpg);
    background-size: cover;
    background-position: center;
    border-top-right-radius: .7rem;
    border-bottom-right-radius: .7rem;
}
@media(max-width: 60em) {
    #try .contact {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #try .contact .left {
        grid-row: 1;
    }
    #try .contact .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}
/* Here we will end the upper sections and start with the footer section */
/* Start Footer */
footer {
    padding: clamp(2rem, 4.5vw, 5rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
    border-top: 1px solid #DDD;
}
footer figure {
    width: 9rem;
    height: auto;
}
footer figure img {
    width: 100%;
    height: 100%;
}
footer .socials {
    display: flex;
    gap: 1rem;
}
footer svg {
    width: 25px;
    aspect-ratio: 1;
    cursor: pointer;
    transition: fill .3s;
    -webkit-transition: fill .3s;
    -moz-transition: fill .3s;
    -ms-transition: fill .3s;
    -o-transition: fill .3s;
}
footer svg:hover {
    fill: var(--accent-dark);
}
footer .adress {
    max-width: 200px;
    font-weight: 600;
}
footer .footer-nav ul li {
    margin-top: 1rem;
}
footer section > * {
    margin-top: 1rem;
}